/* Tiny Scrollbar */
.scroll-bar .viewport { overflow: hidden; position: relative; }
.scroll-bar .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width:100%; }
.scroll-bar .scrollbar{ background: #fff; padding-right:3px; position: relative; float: left; width: 7px; }
.scroll-bar .track { background: #d6d6d6; height: 100%; width:7px; position: relative; }
.scroll-bar .thumb { background: #eb2525; height: 20px; width: 7px; cursor: pointer; overflow: hidden; position: absolute; top: 0; right: 0; }
.scroll-bar .thumb .end { display:none; }
.scroll-bar .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
