/* Weather */
.khy-weather {
  overflow: hidden;
  line-height: 1;
  margin: 0 auto;
  max-width: 320px;
  background: #b6b6b6;
  .city {
    position: relative;
    display: none;
    overflow: hidden;
    color: #fff;
    padding: 10px 10px 20px 10px;
    @include gradient_left_to_right(#2661a1, #89d8cf);
    &.visible {
      display: block;
    }
  }
  .main-title {
    line-height: 1em;
    overflow: hidden;
    .block-title{
      font-size: 30px;
      padding: 0 14px 15px;
      border-bottom: 3px solid #fff;
      margin-bottom: 15px;
    }
  }
  .city {
    position: relative;
    display: none;
    overflow: hidden;
    .main-title a {
      color: #fff;
    }
    .city-name {
      width: 100%;
      color: #fff;
      font-size: 25px;
      line-height: 1.3;
      float: $float-right;
      font-weight: normal;
      span {

      }
    }
    .icon {
      line-height: 1;
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-family: 'MeteoconsRegular';
      overflow: hidden;
      text-align: center;
      font-size: 70px;
      height: 70px;
      width: 40%;
      color: #fff;
      float: $float-left;
    }
    .temperature {
      line-height: 1;
      font-weight: lighter;
      overflow: hidden;
      width: 50%;
      float: $float-right;
      font-size: 60px;
      color: #fff;
      margin-top: 10px;
    }
  }
  .tabs {
    overflow: hidden;
    .single {
      display: block;
      position: relative;
      overflow: hidden;
      font-size: 14px;
      float: $float-right;
      width: 33.33%;
      color: #c0cfde;
      padding: 15px 0;
      @include gradient_left_to_right(#2d5183, #33a1b4);
      &:first-child {
        display: block;
      }
      &:last-child {
        float: $float-left;
        border: 0;
        padding-left: 0;
        margin-left: 0;
      }
      i {
        position: absolute;
        top: 30px;
        right: 0;
        font-style: normal;
        line-height: 1em;
        font-family: 'MeteoconsRegular';
        width: 47px;
        height: 45px;
        font-size: 40px;
        top: 0;

      }
      .tempreture {
        font-size: 26px;
        padding: 10px;
        position: relative;
        line-height: 1;
        text-align: left;
      }
      .city-name {
        padding-bottom: 1px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

/* Weather Icons */

.khy-weather {
  .i01d:before {
    content: "B";
  }
  .i01n:before {
    content: "D";
  }
  .i02d:before {
    content: "H";
  }
  .i02n:before {
    content: "I";
  }
  .i03d:before, .i03n:before {
    content: "N";
  }
  .i04d:before, .i04n:before {
    content: "Y";
  }
  .i09d:before, .i09n:before {
    content: "R";
  }
  .i10d:before, .i10n:before {
    content: "Q";
  }
  .i11d:before, .i11n:before {
    content: "0";
  }
  .i13d:before, .i13n:before {
    content: "#";
  }
  .i50d:before, .i50n:before {
    content: "F";
  }
}
