$maxMobile:"(max-width: 575px)";
$maxSmall:"(max-width: 767px)";
$minSmall:"(min-width: 768px)";
$maxMedium:"(max-width: 991px)";
$minMedium:"(min-width: 992px)";
$minLarge:"(min-width: 1200px)";
$maxLarge:"(max-width: 1199px)";


$mainColor : #252630;
$blueColor: #01539d;
$orangeColor: #f28c25;
$mainFont : "JF Flat Regular", serif, arial;
$detailsColor: rgba($mainColor,.5);
/*font-family:'Droid Arabic naskh' ,serif, arial;*/
/*font-family:'Droid Arabic Kufi', serif, arial;*/
/*font-family:'HelveticaNeueLT' ,serif, arial;*/
/*font-family: "JF Flat Regular", serif, arial;*/
$mainFontSize :18px;
$discFontSize :16px;
$float-left: left;
$float-right: right;
$containerWidth: 1140px;
$titleColor : #0e674b;//#f3a135;
$color1 : #7247ca;
$color2 : #e64a19;
$color3 : #f3a034;
$color4 : #30b47b;
$color5 : #ad9358;
